body {
    background-color: black;
    font-family: var(--font-dm-sans);
}

.sidebar{
    position: fixed; /* posição fixo */
    top: 0; /* posição sempre no topo */
    left: 0; /* posição sempre a esquerda */
    bottom: 0;
    padding: 12px; 
    width: 300px; /* largura */
}

.sidebar__navigation {
    background-color: #121212; 
    border:8px; /* borda */
    padding: 16px 0 0 16px; 
}

.sidebar__navigation .logo {
    background: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.logo img { 
    width: 80px; /* largura */
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px; /* topo, direita, baixo e esquerda*/
}

.sidebar ul li {
    padding: 5px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.library {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.library .library__content {
    display: flex;
    justify-content: space-between;
}

.library .library__button{
    display: flex;
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
}

.library__button:hover {
    animation: pulse 0.4s infinite alternate;
    color: #fff;
}


.library .library__button .fa {
    font-size: 20px;
    font-weight: 300;
    color: #b3b3b3;
    margin-right: 10px;
    padding-right: 8px;
    
}

.library .library__content .fa-plus {
    margin: 24px 10px;
    position: relative;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    
}

.section-playlist{
    display: flex;
    align-items: flex-start; 
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color:#b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    padding: 16px 20px;
    border-radius: 10px;
}

.section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text {
    padding-bottom: 14px;
    color: #fff;

}

.section-playlist__content .title {
    font-weight: 700;
}

.section-playlist__content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.section-playlist__content .section-playlist__button {
    display: flex;
    justify-content: center; 
    background-color: #fff;
    cursor: pointer;
    color: #000;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    border: 0px;
    width: 200px;
    margin-top: 12px;
}

.section-playlist__button:hover {
    animation: pulse 0.6s infinite alternate;
    color: #000;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.section-podcasts{
    display: flex;
    align-items: flex-start; 
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color:#b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    padding: 16px 20px;
    border-radius: 10px;
}

.section-podcasts .section-podcasts__content {
    display: flex;
    flex-direction: column;
}

.section-podcasts__content .text {
    padding-bottom: 14px;
    color: #fff;

}

.section-podcasts__content .title {
    font-weight: 700;
}

.section-podcasts__content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.section-podcasts__content .section-podcasts__button {
    display: flex;
    justify-content: center; 
    background-color: #fff;
    cursor: pointer;
    color: #000;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    border: 0px;
    width: 200px;
    margin-top: 12px;
}

.section-podcasts__button:hover {
    animation: pulse 0.6s infinite alternate;
    color: #000;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.sidebar .cookies{
    margin: 25px 20px;
}

.sidebar .cookies a {
    color: #b3b3b3;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
}

.sidebar .cookies a:hover {
    text-decoration: underline;
}

.languages .languages__button {
    align-items: center;
    background-color: transparent;
    border: 1px solid #878787;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    width: 170px;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
}

.rodape{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 98%;
    padding: 15px 40px;
    background: linear-gradient(to right, #4a98ff, #6640ff);
}

.rodape .rodape__content .title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.rodape .rodape__content .subtitle{
    color: #fff;
    font-weight: 500;
    font-size: 14px;

}
.button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    border: 0px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px; 
    font-size: 16px;
    flex-shrink: 0; 
    z-index: 1000;
    
}
.button:hover {
    animation: pulse 0.6s infinite alternate;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.tooltip {
    position: absolute;
    bottom: 81%;
    left: 75%;
    transform: translateX(-50%);
    background: #242424;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.show {
    opacity: 1;
    visibility: visible;
}